@model List<Post>


<link rel="stylesheet" href="~/css/Post.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<h2 class="text-center" id="feedHeader">Recent " Thoughts "</h2>
 

@foreach (Post post in Model) {
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="media g-mb-30 media-comment">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                    <div class="g-mb-15">
                    <h5 class="h5 g-color-gray-dark-v1 mb-0">
                        <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src=@post.Author.ProfileImg alt="ProfileImg">
                        @if (@post.Author != null){
                        <span class="postUser"><i class="ri-arrow-up-fill"></i> @post.Author.Name</span>
                        }
                    </h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12">Posted: @post.CreatedAt</span>
                    </div><br>
                    <h6 class="thoughtHeader">My Thought...</h6>
                    <p class="thoughtText">" @post.Thought "</p>
            
                    <ul class="list-inline d-sm-flex my-0">
                    <li class="list-inline-item g-mr-20">
                        @{ bool alreadyLiked = post.PostLikes.Any(l => 
                            l.UserId == Context.Session.GetInt32("UUID")
                        );}
                        <form class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" 
                            asp-controller="Posts"
                            asp-action="Like"
                            asp-route-postId="@post.PostId">
                            <button class="likebtn">
                                @if (alreadyLiked)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-5-9a5 5 0 0 0 10 0h-2a3 3 0 0 1-6 0H7zm1-2a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm8 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" fill="rgba(47,204,113,1)"/></svg>

                                }
                                else
                                {
                                    <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                                }
                            </button>
                        Likes: @post.PostLikes.Count
                        </form>
                    </li>
                    <li class="list-inline-item g-mr-20">
                        @{ bool alreadyDisliked = post.PostDislikes.Any(d => 
                            d.UserId == Context.Session.GetInt32("UUID")
                        );}
                        <form class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" 
                            asp-controller="Posts"
                            asp-action="Dislike"
                            asp-route-postId="@post.PostId">
                            <button class="likebtn">
                                @if (alreadyDisliked)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-5-5h2a3 3 0 0 1 6 0h2a5 5 0 0 0-10 0zm1-6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm8 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" fill="rgba(231,76,60,1)"/></svg>
                                }
                                else
                                {
                                    <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                                }
                            </button>
                        Dislikes: @post.PostDislikes.Count
                        </form>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                        <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                        Reply
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    @* <div class="card shadow rounded mx-auto w-75 mb-3">
        <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
            @if (@post.Author != null){
                <span> Posted by: @post.Author.Name</span>
            }
        </h4>

        <div class= "card-body">
            <h1>@post.Thought</h1>
            <img src="@post.ImgUrl" alt="related to post." class= "card-img-top" />
            @* @if(@post.ForSale == false)
            {
                <p>Not For Sale</p>
            }
            else
            {
                <p>For Sale</p>
            } *@




            @* <small class="text-mutes">Submitted on: @post.CreatedAt</small>
        </div>
        <a
        asp-controller="Posts"
        asp-action="GetOnePost"
        asp-route-onePostId="@post.PostId"
        class="btn btn-outline-info"
        >
        View Details
        </a>
        @{ bool alreadyLiked = post.PostLikes.Any(l => 
            l.UserId == Context.Session.GetInt32("UUID")
        );}
        <p>@post.PostLikes.Count likes</p>
        @if(post.UserId != Context.Session.GetInt32("UUID"))
        {
            <div class="card-footer text-center">
                <form
                    asp-controller="Posts"
                    asp-action="Like"
                    asp-route-postId="@post.PostId"
                    >
                    <button class="btn btn-outline-info">
                        @if (alreadyLiked)
                        {
                            <span>UnLike</span>
                        }
                        else
                        {
                            <span>Like</span>
                        }
                    </button>
                </form>
            </div>
        }
        @if(post.UserId == Context.Session.GetInt32("UUID"))
        {
            <div class="card-footer text-center">
                <a class="btn btn-outline-info mb-1" href="/posts/@post.PostId/edit">Edit</a>
                <form asp-controller="Posts" asp-action="DeletePost" asp-route-deletedPostId="@post.PostId" method="POST">
                <button class="btn-outline-danger">Delete</button>
            </form>
            </div>
        }
    </div> *@ 
}